body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	width: 1170px;
	margin: 0 auto;
	text-align: center;
}

.header {
	height: 105px;
	background: #fff;
	box-shadow: 0 5px 40px rgba(0,0,0,0.2);
	text-align: center;
	width: 100%;
	z-index: 888;
	position: fixed;
	top: 0;
}

.heart {
	z-index: 999;
	height: 81px;
	width: 97px;
	position: absolute;
	position: fixed none;
	left: 20%;
	top: 0;
	background: #fff;
	padding: 20px 10px;
	border: 1px solid #e5e5e5;
}

.shop {
	margin-top: 170px;
}

.logo {
	height: 46px;
	margin-top: 26px;
}

.title {
	font-size: 38px;
	font-weight: 900;
	margin-top: 80px;
	margin-bottom: 50px;
}

.products {
	text-align: center;
}

.row {
	margin-top: 50px;
	display: flex;
	width: 900px;
	margin: 0 auto;
}

.product {
	width: 358px;
	height: 378px;
	background: #101010;
	border-radius: 35px;
	margin: auto;
	position: relative;
	transition: .3s;
}

.product:hover {
	box-shadow: 0 15px 30px rgba(0,0,0,0.3); 
	transform: translateY(-5px);
	cursor: pointer;
}

.product:before {
	display: block;
	content: '900р.';
	color: #fff;
	font-weight: 800;
	font-size: 22px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 90px;
	background: #fc472e;
	position: absolute;
	top: 291px;
	left: 230px;
	border-radius: 10px 10px 0 0;
}

.product_title {
	color: #121212;
	font-weight: 800;
	font-size: 24px;
	padding-top: 400px;
}

.product_text {
	color: #343434;
	padding-top: 10px;
}

.product_1 {
	background: url(../img/product_1.png);
}

.product_2 {
	background: url(../img/product_2.png);
}

.product_2:before {
	content: '700p.';
}

.row_2 {
	margin-top: 300px;
}

.product_3 {
	background: url(../img/product_3.png);
}

.product_3:before {
	content: '600p.';
}

.product_4 {
	background: url(../img/product_4.png);
}

.product_4:before {
	content: '500p.';
}

.row_3 {
	margin-top: 300px;
}

.product_5 {
	background: url(../img/product_5.png);
	background-position:  center center;
}

.product_5:before {
	content: '400p.';
}

.product_6 {
	background: url(../img/product_6.png);
	background-position:  center center;
}

.product_6:before {
	content: '250p.';
}

.row_4 {
	margin-top: 300px;
	margin-bottom: 380px;
}

.product_7 {
	background: url(../img/product_7.png);
	background-position:  center center;
}

.product_7:before {
	content: '955p.';
}

.footer {
	background: #222222;
	color: #e5e5e5;
	padding-bottom: 25px;
	align-items: center;
}

.icons {
	display: flex;
	color: #e5e5e5;
	justify-content: space-between;
	margin: 0 40%;
	padding: 2% 0;
	align-items: center;
}

.vk-icon {
	height: 55px;
	width: 55px;
	opacity: 50%;
	transition: .3s;
}

.vk-icon:hover {
	opacity: 100%
}

.inst-icon {
	height: 55px;
	width: 55px;
	opacity: 50%;
	transition: .3s;
}

.inst-icon:hover {
	opacity: 100%;
}

.faceboock-icon {
	height: 55px;
	width: 55px;
	opacity: 50%;
	transition: .3s;
}

.faceboock-icon:hover {
	opacity: 100%;
}

.animated {
	opacity: 0%;
}

.zoomIn{
	opacity: 100%;
}

.over {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;	
}

.over{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
}

.popup {
	position: relative;
	width: 100%;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	padding: 40px;
	box-sizing: border-box;
	background: #f2f2f2;
	box-shadow: 0 0px 50px rgba(0,0,0,0.5);
	border-radius: 30px;
	z-index: 9999;
}


.close-window {
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-right: 20px;
}

.close {
	padding-right: 20px;
}

.popup-offer {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	min-width: 0;
}

.product-title {
	font-size: 28px;
	font-weight: 800;
}

.offer-text ul {
	margin: 0;
	padding: 0;
	padding-left: 20px;
}

.offer-text {
	/*padding-left: 50%;*/
	/*text-align: center;*/
}

.offer-text ul p {
	font-size: 20px;
	padding: 0;
	text-align: center;
}

.popup-text {
	font-size: 20px;
	padding: 10px 0;
}
.data-slick {
	padding-right: 30px;
	height: 476px;
}


.price-text {
	margin-top: 35px;
	margin-bottom: 20px;
	font-size: 16px;
}

.price-text span {
	font-weight: 700;
	font-size: 18px;
}

.close {
	font-size: 20px;
	float: right;
	cursor: pointer;
}

.order-btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	display: inline-block;
	text-decoration: none;
	color: #333;
	border: 1px solid #fc472e;
	padding: 14px 28px;
	border-radius: 100px;
	transition: .3s;
	margin-bottom: 20px;
}

.order-btn:hover {
	background: #fc472e;
	color: #fff;
}

.slide_slide {
	/*margin-left: 50px;*/
}

.slider {
	min-width: 0;
	position: relative;
/*	text-align: center;
	justify-content: center;*/
	margin-right: 50px;
}

.slider__item {
	padding: 0px 15px;
	position: absolute;
	right: -70px;
	width: 458px;
}
.slider__item img{
	max-width: 100%;
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
	width: 458px;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд активный (показывается) */
.slick-slide.slick-active{
	width: 458px;
}

/* Стрелка */
.slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}

.slider .slick-arrow{
	cursor: pointer;
	border: none;
	position: absolute;
	top: 50%;
	margin: 0;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
		text-align: center;
		padding: 0;
	}

	.over {
		position: fixed;
		max-height: 100%;
		width: 100%;
		overflow: auto;
	}

	.order-btn {
		margin-top: 30px;
		margin-left: 30px;
	}

	.price {
		flex-direction: column;
	}

	.price-text {
		margin-top: 34px;
	}

	.popup {
		position: relative;
		left: 50%;
		top: 80%;
		transform: translate(-50%, -50%);
		overflow: auto;
	}

	.popup-offer {
		/*flex-direction: column;
		text-align: center;*/
	}

	.product-title {
		padding-top: 15px
	}

	.slide_slide {
		margin: 0;
	}

	.slick-track{
		display: flex;
		align-items: flex-start;
	}

	.order-btn {
		margin-left: 30px;
		text-align: center;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 100%;
		/*min-width: 290px;*/
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	.over {
		position: fixed;
		max-height: 100%;
		width: 100%;
		overflow: auto;
	}

	.heart {
		display: none;
	}

	.row {
		width: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
		}

	.wrapper {
		width: 100%;
		/*min-width: 290px;*/
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.shop {
		width: 100%;
		max-width: 960px;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}


	.product_2, .product_4, .product_6 {
		margin-top: 300px;
	}

	.products {
		width: 720px;
		margin: 0 auto;
	}

	.inst-icon {
		margin: 0 30px;
	}

	.icons {
		margin: 0 auto;
		display: inline-block;
	}

	.slick_slider {
		/*width: 478px;*/
		text-align: center;
		justify-content: center;
	}

	.slider_item {
		text-align: center;
		justify-content: center;
	}

	.slider {
		text-align: center;
		justify-content: center;
	}

	.popup-offer {
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.slide_slide {
		text-align: center;
		justify-content: space-between;
		align-items: center;
		margin-left: 100px;
	}

		.popup {
		left: 0;
	    transform: translate(0px, 0px);
	    overflow: auto;
	    height: 100%;
	    top: 0;
	    bottom: 0;
		z-index: 9999;
		border-radius: 0;
	}

	.over {
		width: auto;
		height: auto;
		position: fixed;
		overflow: auto;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		z-index: 9999;
		border-radius: 0;
	}

	.title {
		margin-top: 150px;
	}

	.close {
		margin-bottom: 20px;
		z-index: 9999;
		background-color: red;
		color: #fff;
		font-weight: 400;
		border-radius: 100px;
		padding: 5px 10px;
		transition: .3s;
		top: 50px;
	}

	.close:hover {
		background-color: rgba(0,0,0,0.5);
		color: #fff;
	}

			.header {
		position: absolute;
		z-index: 20;
	}

	.order-btns {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		text-align: center;
	}

	.order-btn {
		margin-left: 30px;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		/*min-width: 290px;*/
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	.product {
		text-align: center;
		width: 100%;
	}

	.products {
		width: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.title {
		width: auto;
		margin-top: 130px;
		font-size: 28px;
	}

	.product_2, .product_4, .product_6 {
		margin-top: 300px;
	}

	.row {
		width: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;
		
		}

	.wrapper {
		width: 100%;
		/*min-width: 290px;*/
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.shop {
		width: 100%;
		max-width: 450px;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	.title {
		width: 100%;
	}

	.popup {
		left: 0;
	    transform: translate(0px, 0px);
	    overflow: auto;
	    height: 100%;
	    top: 0;
	    bottom: 0;
		z-index: 9999;
		border-radius: 0;
	}

	.over {
		width: auto;
		height: auto;
		position: fixed;
		overflow: auto;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		z-index: 9999;
		border-radius: 0;
	}

	.close {
		margin-bottom: 20px;
		z-index: 9999;
		background-color: red;
		color: #fff;
		font-weight: 400;
		border-radius: 100px;
		padding: 5px 10px;
		transition: .3s;
		top: 50px;
	}

	.close:hover {
		background-color: rgba(0,0,0,0.5);
		color: #fff;
	}

		.header {
		position: absolute;
		z-index: 20;
	}

	.order-btns {
		display: flex;
    	/*justify-content: center;*/
    	text-align: center;
    	margin: 0 auto;
	}

	.order-btn {
		margin: 0;
		margin-left: 30px;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 100%;
		/*min-width: 290px;*/
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	.product {
		text-align: center;
		width: 100%;
	}

	.products {
		width: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.title {
		width: auto;
		margin-top: 130px;
		font-size: 28px;
	}

	.product_2, .product_4, .product_6 {
		margin-top: 300px;
	}

	.row {
		width: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;
		
		}

	.wrapper {
		width: 100%;
		/*min-width: 290px;*/
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.shop {
		width: 100%;
		max-width: 450px;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	.footer.animate {
		opacity: 0;
		text-align: center;
	}

	.popup {
		left: 0;
	    transform: translate(0px, 0px);
	    overflow: auto;
	    height: 100%;
	    top: 0;
	    bottom: 0;
		z-index: 9999;
		border-radius: 0;
	}

	.over {
		width: auto;
		height: auto;
		position: fixed;
		overflow: auto;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		z-index: 9999;
		border-radius: 0;
	}

	.order-btn {
		margin: 0 10px;
		font-size: 14px;
	}

	.order-btns {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.price {
		flex-direction: column;
		justify-content: center;
		display: block;
	}

	.price-text {
		font-size: 22px;
	}

	.popup-text {
		float: left;
		text-align: left;
		margin-top: 0px;
		font-size: 24px;
	}

	li {
		font-size: 16px;
		text-align: left;
	}

	.price-text span {
		font-size: 24px;
	}

	.head {
		margin: 0;
		right: 0;
		left: 0;
	}

	.header {
		position: absolute;
		z-index: 20;
	}

	.close {
		z-index: 9999;
		background-color: red;
		color: #fff;
		font-weight: 400;
		border-radius: 100px;
		padding: 5px 10px;
		transition: .3s;
		top: 2px;
		right: 2px;
		position: absolute;
	}

	.close:hover {
		background-color: rgba(0,0,0,0.5);
		color: #fff;
	}

	.slide_slide {
		position: absolute;
		text-align: center;
		min-width: 320px;
		margin: 0 auto;
		width: auto;
		top: 0;
		height: 320px;
	}

	.slider {
		text-align: center;
		float: center;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		margin: 0 auto;
	}

	.slider.slick-arrow {
		display: none;
	}

	.slick-list {
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	.slick-track {
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		height: 400px;
	}

	.slider-item {
		text-align: center;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		margin: 0 auto;
		min-width: 320px;
	}

	.popup-offer {
		justify-content: center;
		text-align: center;
		-ms-align-items: center;
		align-items: center;
		margin: 0 auto;
		width: auto;
	}

	.offer-text {
		margin-top: 380px;
	}

	.popup-text {
		width: 100%;
		font-size: 18px;
	}

	.product-title {
		width: 100%;
	}

	.footer {
		position: absolute;
		width: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.icons {
		flex-direction: column;
		display: block;
		justify-content: center;
		width: 70%;
	}

	.footer_offer {
		display: block;
		flex-direction: column;
	}
}

.animated {
	opacity: 100%;
}

.zoomIn {
	opacity: 100%;
}

.over {
	display: none;
}